body {
    padding: 10px;
    width: 700px;
    max-height: 600px;
    overflow-y: auto;
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
    font-size: 14px;
}

.logo {
    height: 100px;
    float: right;
}

.site-watched-posts-container {
    margin-bottom: 20px;
}

.site-header-site-name {
    height: 30px;
    display: block;
    line-height: 30px;
}

.site-header-favicon {
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 5px;
}

.watched-post-entry {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 15px;
    margin-left: -45px;
    border-radius: 5px;
}

.watched-post-entry .watch-option {
    margin-right: 5px;
    border: 0.5px dashed black;
    padding: 6px;
    border-radius: 4px;
    margin: auto;
    margin-right: 5px;
}

.watched-post-entry .watch-option.unread {
    font-weight: bold;
}

.watched-post-entry:hover {
    background-color: lightgoldenrodyellow !important;
}

.unread-dot {
    height: 12px;
    width: 12px;
    margin-right: 5px;
    border-radius: 100%;
    background-color: blue;
    float: left;
    /* Default to not shown; the next rule shows if parent post element is 'unread' */
    display: none;
}

.watched-post-entry.unread .unread-dot {
    display: block;
}

li.watched-post-entry:nth-of-type(odd) {
    background-color: whitesmoke;
}

.watched-post-entry .post-title {
    float: left;
    max-width: 70%;
    color: #0000EE;
}

.watched-post-title-actions .action {
    cursor: pointer;
    margin-right: 5px;
    font-size: 13px;
    font-style: italic;
    float: right;
}

.watched-post-title-actions .action+.action {
    border-right: 1px solid black;
    padding-right: 5px;
}

.watched-post-watch-options {
    margin-top: 10px;
}

